In [18]:
import pandas as pd

In [19]:
adf = pd.read_csv( 'airport_data.csv', low_memory=False )
bdf = pd.read_csv( 'booking_data.csv', low_memory=False )
sdf = pd.read_csv( 'search_data.csv' , low_memory=False )

In [37]:
dfs = [bdf, sdf]

joined = pd.concat(dfs, keys ='session_id')

joined = joined.sort_values(by='booking_time')

for item in joined.columns:
    print(item, joined['item'].value_counts()[:10])

KeyError: 'item'

In [28]:
y = joined['fare']

x = joined[[_ for _ in joined.columns if _ != 'fare']]

In [29]:
x

                                     booking_id         booking_time currency  \
s 0        7ec12305-ba84-419a-8fc0-6aaf78d9abb2  2017-02-01 00:00:46      USD
  1        5eb6e42e-bcdc-4b0a-8b3a-744b4ef1d805  2017-02-01 00:01:03      USD
  2        d3db456d-538d-4f98-a2a0-d6bcedf3b459  2017-02-01 00:01:04      USD
  3        b9133358-7e81-4aea-bce8-8c79823c4ac8  2017-02-01 00:01:12      USD
  4        4699db09-65c2-492f-9aa6-c9e7734a60c1  2017-02-01 00:01:25      USD
...                                         ...                  ...      ...
e 1277076                                   NaN                  NaN      USD
  1277077                                   NaN                  NaN      USD
  1277078                                   NaN                  NaN      USD
  1277079                                   NaN                  NaN      USD
  1277080                                   NaN                  NaN      USD

          destination                       booking_user_id language origin  \
s 0               SJD  36195bda-ec40-4907-9428-c4fe11bd87fa       en    LAX
  1               LAX  025ee32b-2a0b-4987-b275-893f148ab259       en    CMH
  2               MCO  f69465d7-cdb2-4dd0-98ad-6362423a8dc3       en    EGE
  3               LHR  36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf       en    PHX
  4               LHR  b1a66917-ca3e-457e-8bb2-79b6cd86ca7c       en    SFO
...               ...                                   ...      ...    ...
e 1277076         BOS                                   NaN       en    CLT
  1277077         JFK                                   NaN       en    GND
  1277078         CHI                                   NaN       en    AVP
  1277079         NYC                                   NaN       en    DEN
  1277080         ORD                                   NaN       en    LAX

           partner_id  passengers pos  ...          flight_num_1  \
s 0                91           1  US  ...                 AA237
  1                91           1  US  ...                 AA659
  2                91           1  US  ...         UA4475; UA564
  3                91           2  US  ...        DL5852; DL4414
  4                91           1  US  ...  TP8052; TP218; TP352
...               ...         ...  ..  ...                   ...
e 1277076          91           1  US  ...                AA1812
  1277077          91           1  US  ...          BW441; BW520
  1277078          91           1  US  ...        AA5185; AA1946
  1277079          91           1  US  ...        AA2046; AA1972
  1277080          91           1  US  ...                 NK736

                   flight_num_2  \
s 0                       AA237
  1                         NaN
  2              UA1191; UA1252
  3                DL11; DL1516
  4        TP353; TP209; TP8051
...                         ...
e 1277076                AA1775
  1277077        AA1568; AA1546
  1277078                   NaN
  1277079                  B697
  1277080                 VX231

                                        departure_datetime_1  \
s 0                                      2017-05-30T08:35:00
  1                                      2017-03-29T16:35:00
  2                 2017-02-10T07:52:00; 2017-02-10T11:00:00
  3                 2017-05-10T13:13:00; 2017-05-10T18:30:00
  4        2017-03-06T08:00:00; 2017-03-06T20:00:00; 2017...
...                                                      ...
e 1277076                                2017-03-12T22:09:00
  1277077           2017-05-14T09:00:00; 2017-05-15T00:15:00
  1277078           2017-04-28T06:15:00; 2017-04-28T09:40:00
  1277079           2017-02-28T10:09:00; 2017-02-28T16:10:00
  1277080                                2017-03-08T17:57:00

                                          arrival_datetime_1  \
s 0                                      2017-05-30T11:58:00
  1                                      2017-03-29T18:53:00
  2                 2017-02-10T09:03:00; 2017-02-10T16:31:00
  3                 2017-05-10T14:45:00; 2017-05-11T12:55:00
  4        2017-03-06T16:35:00; 2017-03-07T07:15:00; 2017...
...                                                      ...
e 1277076                                2017-03-13T00:10:00
  1277077           2017-05-14T09:40:00; 2017-05-15T05:35:00
  1277078           2017-04-28T08:17:00; 2017-04-28T10:51:00
  1277079           2017-02-28T15:19:00; 2017-02-28T18:04:00
  1277080                                2017-03-08T23:56:00

                                        departure_datetime_2  \
s 0                                      2017-06-03T13:00:00
  1                                                      NaN
  2                 2017-02-13T08:47:00; 2017-02-13T11:40:00
  3                 2017-05-28T12:55:00; 2017-05-28T17:50:00
  4        2017-03-09T06:00:00; 2017-03-09T16:50:00; 2017...
...                                                      ...
e 1277076                                2017-03-15T12:50:00
  1277077           2017-06-17T06:30:00; 2017-06-17T10:45:00
  1277078                                                NaN
  1277079                                2017-03-04T20:10:00
  1277080                                2017-03-28T09:15:00

                                          arrival_datetime_2  \
s 0                                      2017-06-03T14:36:00
  1                                                      NaN
  2                 2017-02-13T10:30:00; 2017-02-13T13:41:00
  3                 2017-05-28T16:05:00; 2017-05-28T19:11:00
  4        2017-03-09T08:35:00; 2017-03-09T20:15:00; 2017...
...                                                      ...
e 1277076                                2017-03-15T15:20:00
  1277077           2017-06-17T09:37:00; 2017-06-17T14:28:00
  1277078                                                NaN
  1277079                                2017-03-04T22:58:00
  1277080                                2017-03-28T11:50:00

                                   itinerary_id  \
s 0        c53826cf-1fba-42a6-a765-941628e1901e
  1        2e3afcd8-7d56-4b49-a71b-f85c23e1b807
  2        619b0f7c-825f-47b1-a191-300862feff80
  3        37a44686-8347-4c72-8690-c9432349f9a6
  4        b84a4eca-fd5f-4794-afaa-e1d0e7231537
...                                         ...
e 1277076  fecf9c13-563b-4ce6-bc7b-a28e60bace4e
  1277077  7fe6822a-dd11-4e52-8319-1601cbd85b67
  1277078  b411b96b-45f9-4fa0-be4c-0ee6e4a3fc7e
  1277079  8c39dd85-3b4b-48d8-8ba9-1f02a1965edc
  1277080  4ee39e41-400e-4680-b3d1-e7a35b1013b2

                                      search_id          search_time  \
s 0                                         NaN                  NaN
  1                                         NaN                  NaN
  2                                         NaN                  NaN
  3                                         NaN                  NaN
  4                                         NaN                  NaN
...                                         ...                  ...
e 1277076  00b8e885-73d8-43ae-a695-bed7aa05a179  2017-02-23 23:35:55
  1277077  0498ef01-edf1-4b34-9ecc-e292288a2a49  2017-02-23 23:36:03
  1277078  0530047d-4d81-4112-84c1-e00f10db3cb4  2017-02-23 23:36:03
  1277079  020b0135-f346-433b-ba3b-e0221fd55a68  2017-02-23 23:36:05
  1277080  01786df1-0bd6-4387-abfb-c06cf17f302b  2017-02-23 23:36:35

                             search_user_id
s 0                                     NaN
  1                                     NaN
  2                                     NaN
  3                                     NaN
  4                                     NaN
...                                     ...
e 1277076  d9e71baf8397453bd1280d4f331f6a5f
  1277077  ff4dae6b57cd92546a3b2999af08253b
  1277078  efeedebb3facd532a5ea0f2658100eda
  1277079  ac8432acb50b12220d07d204a7ffdb97
  1277080  d3a58f3ee0d4abec578fd8786eb26ffd

[1293935 rows x 27 columns]