In [93]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [94]:
airport_df = pd.read_csv( 'airport_data.csv', low_memory=False )
booking_df = pd.read_csv( 'booking_data.csv', low_memory=False )
search_df  = pd.read_csv( 'search_data.csv' , low_memory=False )

adf, bdf, sdf = airport_df, booking_df, search_df

# Search data

In [95]:
sdf.head(3)

,search_id,search_time,currency,destination,search_user_id,language,origin,partner_id,passengers,pos,session_id,user_agent,num_requests,fare,supplier,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
0,02c6c2ad-325b-4155-bb03-89badc92ea84,2017-02-01 00:00:07,USD,MIA,NBYNv9utORVjlf604rUgXL/eFz6Tmu2NyygDWTFsM5OOWH...,en,LAX,294,1,US,292c32ab-9744-490f-911a-d3536e86847e,Dalvik/2.1.0 (Linux; U; Android 6.0.1; SM-G920...,1,499.00,22,economy,AA,AA,AA1088,AA1147,2017-04-07T09:50:00-07:00,2017-04-07T17:56:00-04:00,2017-04-16T21:30:00-04:00,2017-04-17T00:33:00-07:00,294f363b-86f0-4e67-abe9-05221dadb8b8
1,0280e382-d24e-4138-bb20-8d236c0bb02f,2017-02-01 00:00:32,ISK,VCE,c2ea8bd4-40ff-4b8b-a42f-ada9b02ef963,en,REK,58,1,IS,d34dd58d-aec5-4d8f-abf7-090db2e011bd,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2...,7,25895.00,103,Economy,FI; IB,NaN,FI540; IB5120,NaN,2017-06-10T01:05:00; 2017-06-10T14:50:00,2017-06-10T06:20:00; 2017-06-10T16:40:00,NaN,NaN,d9592a05-c850-4abd-9cf1-9fe8343d556c
2,c8903983-3eb9-4f0f-8f87-64b7e5dd0692,2017-02-01 00:00:39,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,e0ae1ecd-8715-4577-bca4-604cf3a58d0e,Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...,1,286.79,91,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e

In [102]:
s_cols = [   'destination',
         #    'language',
             'origin',
        #     'partner_id',
             'passengers',
       #      'pos',
             'session_id',
             'user_agent',
             'fare',
       #      'supplier',
             'cabin_class',
             'carrier_1',
             'carrier_2',
         'arrival_datetime_1',
         'arrival_datetime_2']

In [103]:
sdd = sdf[s_cols]

sdd['Yfare'] = sdd['fare'].to_numpy()/sdd['passengers'].to_numpy()

sdd = sdd[(sdd.carrier_1 == sdd.carrier_2) ].copy()
sdd

<ipython-input-103-9b7394a2bc35>:3: RuntimeWarning: divide by zero encountered in true_divide
  sdd['Yfare'] = sdd['fare'].to_numpy()/sdd['passengers'].to_numpy()
<ipython-input-103-9b7394a2bc35>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sdd['Yfare'] = sdd['fare'].to_numpy()/sdd['passengers'].to_numpy()

,destination,origin,passengers,session_id,user_agent,fare,cabin_class,carrier_1,carrier_2,arrival_datetime_1,arrival_datetime_2,Yfare
0,MIA,LAX,1,292c32ab-9744-490f-911a-d3536e86847e,Dalvik/2.1.0 (Linux; U; Android 6.0.1; SM-G920...,499.00,economy,AA,AA,2017-04-07T17:56:00-04:00,2017-04-17T00:33:00-07:00,499.000000
2,SJD,LAX,1,e0ae1ecd-8715-4577-bca4-604cf3a58d0e,Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG-SM-...,286.79,economy,AA,AA,2017-05-30T11:58:00,2017-06-03T14:36:00,286.790000
3,LHR,PHX,2,1eb74ec2-e6d7-4423-a1e3-de2a411a4aed,Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-...,507.46,economy,DL; DL,DL; DL,2017-05-10T14:45:00; 2017-05-11T12:55:00,2017-05-28T16:05:00; 2017-05-28T19:11:00,253.730000
6,MCO,EGE,1,97d78806-2f65-48af-9d21-e7f9bb6a667c,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,615.60,economy,UA; UA,UA; UA,2017-02-10T09:03:00; 2017-02-10T16:31:00,2017-02-13T10:30:00; 2017-02-13T13:41:00,615.600000
8,PBI,FLO,3,6619e1b4-7335-4ff3-9b9b-88bdc65ed715,Mozilla/5.0 (Linux; Android 6.0; RCT6513W87 Bu...,352.60,economy,AA; AA,AA; AA,2017-05-26T06:16:00; 2017-05-26T09:31:00,2017-05-28T10:18:00; 2017-05-28T13:50:00,117.533333
...,...,...,...,...,...,...,...,...,...,...,...,...
1277070,HOU,CLT,2,56fafa16-1beb-4aa5-8a0c-b8edf3f5c88f,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,214.90,economy,AA,AA,2017-04-13T14:51:00,2017-04-15T12:03:00,107.450000
1277071,LAS,BWI,1,eeb37201-e44b-4f8f-aa00-f2f34ee166ac,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) ...,489.73,economy,NK; NK,NK; NK,2017-06-15T16:27:00; 2017-06-15T19:37:00,2017-06-19T06:25:00; 2017-06-19T11:13:00,489.730000
1277072,BOS,ORD,4,c4bbf812-9cc4-4cf7-b8de-88afc89ae703,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,202.40,economy,AA,AA,2017-03-14T13:10:00,2017-03-20T12:19:00,50.600000
1277073,PAR,ALG,1,0e3ad5f8-1447-43c7-8cdd-f878591a8c60,Mozilla/5.0 (iPad; CPU OS 8_4_1 like Mac OS X)...,232.00,economy,AH,AH,2017-02-25T20:55:00,2017-04-08T22:55:00,232.000000
1277076,BOS,CLT,1,43c37358-bd12-437a-a79f-a07964284844,Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like...,287.90,economy,AA,AA,2017-03-13T00:10:00,2017-03-15T15:20:00,287.900000

In [98]:
sdd.cabin_class.value_counts()

economy            430439
Economy             16748
mixed                3911
business             1303
first                1037
premium_economy       868
Business               92
premiumEconomy         25
Premium Economy        21
First                  17
COACH                   6
ECONOMY                 3
First Class             1
Name: cabin_class, dtype: int64

In [99]:
def clean_class(val):
    return val.split(' ')[0].replace('_','').replace('mEconomy','m').replace('premiumeconomy', 'premium').lower()

sdd['cleanclass'] = [ clean_class(x) for x in sdd['cabin_class'] ]
sdd.cleanclass.value_counts()

economy     447190
mixed         3911
business      1395
first         1055
premium        914
coach            6
Name: cleanclass, dtype: int64

In [100]:
sdd = sdd[~sdd.cleanclass.isin(['coach','mixed'])]
sdd.cleanclass.value_counts()

economy     447190
business      1395
first         1055
premium        914
Name: cleanclass, dtype: int64

In [101]:
sdd.user_agent.value_counts()[:50]

Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                   37349
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                    31719
Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; compatible; Googlebot/2.1; +http://www.google.com/bot.html) Safari/537.36                                                                    28623
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                              21987
Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1                                                         21103
Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                       13130
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393                                                                12980
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                               10558
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                         9213
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8                                                                            8086
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                     7009
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         6547
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         6478
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                            6471
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                    5511
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         5318
Mozilla/5.0 (iPhone; CPU iPhone OS 10_2 like Mac OS X) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0 Mobile/14C92 Safari/602.1                                                           5251
Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1                                                                   5067
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                     4881
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; rv:11.0) like Gecko                 4215
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8                                                                            3327
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3; rv:11.0) like Gecko     3085
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                               2642
Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; .NET4.0C; .NET4.0E; .NET CLR 2.0.50727; .NET CLR 3.0.30729; .NET CLR 3.5.30729; rv:11.0) like Gecko                                            2583
Mozilla/5.0 (iPhone; CPU iPhone OS 10_1_1 like Mac OS X) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0 Mobile/14B100 Safari/602.1                                                        2473
Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1                                                                    2463
Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                2326
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12                                                                          2294
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/601.7.8 (KHTML, like Gecko) Version/9.1.3 Safari/537.86.7                                                                             2285
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8                                                                            2284
Mozilla/5.0 (Windows NT 6.3; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                         2212
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36                                                                         1962
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36                                                                         1860
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                               1834
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                          1797
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                               1710
Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1                                                        1597
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.7 (KHTML, like Gecko) Version/9.1.2 Safari/601.7.7                                                                             1594
Mozilla/5.0 (Windows NT 6.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36                                                                                           1581
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36                                                                                           1507
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                         1503
Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                           1486
Mozilla/5.0 (iPad; CPU OS 10_2 like Mac OS X) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0 Mobile/14C92 Safari/602.1                                                                    1436
Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                1425
Mozilla/5.0 (Windows NT 6.1; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                                                1413
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12                                                                          1311
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12                                                                          1308
Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36                                                                                     1267
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:51.0) Gecko/20100101 Firefox/51.0                                                                                                               1180
Mozilla/5.0 (X11; CrOS x86_64 9000.82.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36                                                                                1163
Name: user_agent, dtype: int64

In [62]:
dfs = [bdf, sdf]

joined = pd.concat(dfs, keys ='session_id')

joined = joined.sort_values(by='booking_time')

In [19]:
sdf[sdf.session_id.isin(bdf.session_id)]

,search_id,search_time,currency,destination,search_user_id,language,origin,partner_id,passengers,pos,...,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
2,c8903983-3eb9-4f0f-8f87-64b7e5dd0692,2017-02-01 00:00:39,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,...,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e
3,b1d666c8-d570-47ec-bc46-26ee5332620f,2017-02-01 00:00:48,USD,LHR,36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf,en,PHX,91,2,US,...,economy,DL; DL,DL; DL,DL5852; DL4414,DL11; DL1516,2017-05-10T13:13:00; 2017-05-10T18:30:00,2017-05-10T14:45:00; 2017-05-11T12:55:00,2017-05-28T12:55:00; 2017-05-28T17:50:00,2017-05-28T16:05:00; 2017-05-28T19:11:00,37a44686-8347-4c72-8690-c9432349f9a6
5,0abbfe4c-b72d-42c7-ae8a-966643e14600,2017-02-01 00:00:54,USD,LAX,025ee32b-2a0b-4987-b275-893f148ab259,en,CMH,91,1,US,...,economy,AA,NaN,AA659,NaN,2017-03-29T16:35:00,2017-03-29T18:53:00,NaN,NaN,2e3afcd8-7d56-4b49-a71b-f85c23e1b807
6,198f2d0f-4f30-418c-bf78-ccf776a63501,2017-02-01 00:01:02,USD,MCO,f69465d7-cdb2-4dd0-98ad-6362423a8dc3,en,EGE,91,1,US,...,economy,UA; UA,UA; UA,UA4475; UA564,UA1191; UA1252,2017-02-10T07:52:00; 2017-02-10T11:00:00,2017-02-10T09:03:00; 2017-02-10T16:31:00,2017-02-13T08:47:00; 2017-02-13T11:40:00,2017-02-13T10:30:00; 2017-02-13T13:41:00,619b0f7c-825f-47b1-a191-300862feff80
8,bf0709c2-5775-48aa-952b-35f88430c431,2017-02-01 00:01:11,USD,PBI,7864485d-5c63-45ee-9e4d-a3c43e078b36,en,FLO,91,3,US,...,economy,AA; AA,AA; AA,AA4933; AA1846,AA539; AA4860,2017-05-26T05:25:00; 2017-05-26T07:40:00,2017-05-26T06:16:00; 2017-05-26T09:31:00,2017-05-28T08:25:00; 2017-05-28T13:00:00,2017-05-28T10:18:00; 2017-05-28T13:50:00,ead1e4c6-6d82-4aed-9d65-94e4b4d67ab0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275806,18c67fe4-eba4-4de0-9561-48805ba3f1a5,2017-02-23 23:24:13,USD,KOA,b4a9623b-1d1c-4876-9631-64f995e780de,en,LAX,91,5,US,...,economy,AA,AA,AA59,AA58,2017-07-21T10:50:00,2017-07-21T13:38:00,2017-08-05T15:07:00,2017-08-05T23:17:00,0de64900-7999-4564-bad9-64a0d7dc3db9
1275873,608f4366-d530-4d17-a45d-2a5a53bd93b9,2017-02-23 23:24:31,GBP,BCN,94b52a09030779f80911944188c65fb517b0af161f8d88...,en_UK,MAN,221,4,GB,...,Economy,FR,FR,FR7542,FR7545,2017-04-03T06:25:00,2017-04-03T09:45:00,2017-04-09T22:05:00,2017-04-09T23:45:00,c7acf53a-0648-4f70-9946-a5b9d8fca4de
1276118,dae94b65-f12c-4540-b4b7-08f52e38d3f4,2017-02-23 23:25:23,USD,HYD,4d309822-a272-494a-8691-4e0a8e76036d,en,SFO,91,1,US,...,economy,CX; CX,CX; CX,CX879; CX649,CX646; CX892,2017-06-17T13:30:00; 2017-06-18T21:15:00,2017-06-18T18:55:00; 2017-06-19T00:30:00,2017-08-19T01:50:00; 2017-08-19T18:45:00,2017-08-19T09:40:00; 2017-08-19T16:25:00,8e04e4a5-3ef5-4706-906e-dcc693b368a5
1276322,d8268516-6df7-448e-b881-f20b9f5c8c0d,2017-02-23 23:26:18,USD,MID,6d57ab2b-6c1b-4788-a6fb-ffe37c402325,en,PHX,91,1,US,...,economy,UA; UA,NaN,UA978; UA1426,NaN,2017-04-16T05:00:00; 2017-04-16T17:50:00,2017-04-16T09:31:00; 2017-04-16T19:54:00,NaN,NaN,4f40fa8a-aba6-44b2-97b3-1996a67e84c2
1276468,1fccad02-4c06-4808-94ae-9064a7a48f11,2017-02-23 23:26:44,USD,JFK,e5fed596-c0a0-4106-ac8a-292f9a1af0d7,en,SFO,91,1,US,...,economy,VX,SY; SY,VX12,SY244; SY395,2017-03-15T07:05:00,2017-03-15T15:35:00,2017-03-22T11:30:00; 2017-03-22T14:40:00,2017-03-22T13:37:00; 2017-03-22T16:49:00,08ebdf48-73db-4ea0-9f55-118f049646dd

In [28]:
y = joined['fare']

x = joined[[_ for _ in joined.columns if _ != 'fare']]

In [26]:
sdf.head()

,search_id,search_time,currency,destination,search_user_id,language,origin,partner_id,passengers,pos,...,cabin_class,carrier_1,carrier_2,flight_num_1,flight_num_2,departure_datetime_1,arrival_datetime_1,departure_datetime_2,arrival_datetime_2,itinerary_id
0,02c6c2ad-325b-4155-bb03-89badc92ea84,2017-02-01 00:00:07,USD,MIA,NBYNv9utORVjlf604rUgXL/eFz6Tmu2NyygDWTFsM5OOWH...,en,LAX,294,1,US,...,economy,AA,AA,AA1088,AA1147,2017-04-07T09:50:00-07:00,2017-04-07T17:56:00-04:00,2017-04-16T21:30:00-04:00,2017-04-17T00:33:00-07:00,294f363b-86f0-4e67-abe9-05221dadb8b8
1,0280e382-d24e-4138-bb20-8d236c0bb02f,2017-02-01 00:00:32,ISK,VCE,c2ea8bd4-40ff-4b8b-a42f-ada9b02ef963,en,REK,58,1,IS,...,Economy,FI; IB,NaN,FI540; IB5120,NaN,2017-06-10T01:05:00; 2017-06-10T14:50:00,2017-06-10T06:20:00; 2017-06-10T16:40:00,NaN,NaN,d9592a05-c850-4abd-9cf1-9fe8343d556c
2,c8903983-3eb9-4f0f-8f87-64b7e5dd0692,2017-02-01 00:00:39,USD,SJD,36195bda-ec40-4907-9428-c4fe11bd87fa,en,LAX,91,1,US,...,economy,AA,AA,AA237,AA237,2017-05-30T08:35:00,2017-05-30T11:58:00,2017-06-03T13:00:00,2017-06-03T14:36:00,c53826cf-1fba-42a6-a765-941628e1901e
3,b1d666c8-d570-47ec-bc46-26ee5332620f,2017-02-01 00:00:48,USD,LHR,36ba8a8c-8c47-4dc6-bd70-0b3ae071c8cf,en,PHX,91,2,US,...,economy,DL; DL,DL; DL,DL5852; DL4414,DL11; DL1516,2017-05-10T13:13:00; 2017-05-10T18:30:00,2017-05-10T14:45:00; 2017-05-11T12:55:00,2017-05-28T12:55:00; 2017-05-28T17:50:00,2017-05-28T16:05:00; 2017-05-28T19:11:00,37a44686-8347-4c72-8690-c9432349f9a6
4,020521d7-ea85-49dd-97e2-1ae662f432a9,2017-02-01 00:00:48,ISK,BFS,cc24b343-7e53-48b4-9bdb-092a49381665,is,REK,58,2,IS,...,Economy,FI; FR,FR; U2,FI470; FR1274,FR1138; U28507,2017-04-12T07:35:00; 2017-04-12T18:10:00,2017-04-12T11:35:00; 2017-04-12T19:35:00,2017-04-19T20:00:00; 2017-04-20T06:30:00,2017-04-19T21:20:00; 2017-04-20T08:45:00,52248983-0449-411f-9794-88c7bc098faa